html, body {
  height: 100%;
}
body {
  font-family: "Lato";
  font-weight: 300;
  font-size: 16px;
  color: #555;
}

/* Titles */
h1, h2, h3, h4, h5, h6 {
  font-family: "Raleway";
  font-weight: 200;
  color: #333;
}
h1{
  font-size: 48px;
}
h2{
  font-size: 36px;
}
h3 {
  font-size: 26px;
}
/* Paragraph & Typographic */
p {
  line-height: 28px;
  margin-bottom: 20px;
}

ul {
  margin: 0;
  padding: 0;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  margin: 2em 0;
  padding: 0;
  background-image: -webkit-linear-gradient(left, #fff, #ccc, #fff);
  background-image: -moz-linear-gradient(left, #fff, #ccc, #fff);
  background-image: -ms-linear-gradient(left, #fff, #ccc, #fff);
  background-image: -o-linear-gradient(left, #fff, #ccc, #fff);
  width: 50%;
  left: 25%;
  position: relative;
  border: none;
}

.centered {
  text-align: center;
}

/***************   NAVBAR    **********/

.navbar-container  {
  padding-top: 15px;
  padding-bottom: 10px;
  background-color: #FFF;
  border-bottom: 2px solid #f5f5f5;
  margin: auto;
  text-align: center;
}

.navbar-links li {
  display: inline-block;
  font-size: 15px;
  line-height: 20px;
  padding: 10px 80px;
  text-decoration: none;
}

.navbar-links li:focus {
  color: black;
}

.navbar-links a {
  color: #9D9D9D;
}

.navbar-links a:hover {
  color: black;
  text-decoration: none;
}

/* ==========================================================================
   Wrap Sections
   ========================================================================== */

/***************   HOME PAGE     **********/
#home{
  padding-top: 40px;
  background: url('../../main_background.png') no-repeat center;
  font-size: 15px;
  padding-top: 40px;
  padding-bottom: 135px;
  text-shadow: 1px 1px 5px black;
}

#profile_container {
  padding-top: 225px;
  padding-bottom: 20px;
  margin-top: 35px;
  text-align: left;
  color: white;
}

#profile_container h1 {
  text-shadow: 1px 1px 5px black;
  font-size: 60px;
  color: white;
}

.btn {
  font-weight: 300;
  font-size: 15px;
  background-color: #D54724;
  box-shadow: 1px 1px 2px black;
  color: #fff;
  border: 0;
}
.btn:hover {
  background-color: #C7422C;
  color: #fff;
  box-shadow: 1px 1px 5px black;
  outline: 0px;
}

.btn:focus {
  background-color: #D54724;
  color: #fff;
  outline: 0px;
}

/***************   ABOUT PAGE     **********/

#about{
  padding-top: 80px;
  padding-bottom: 140px;
}

.pro-pic {
  display: block;
  margin-top: 65px;
  max-width: 650px;
  max-height: 400px;
  border-radius: 10px;
}


/***************   SKILLS PAGE     **********/
#skills {
  background: rgb(39, 151, 208);
  padding-top: 80px;
  padding-bottom: 120px;
  text-align: center;
}
#skills .fa {
  color: #D54724;
}
#skills p {
  text-align: center;
  color: #fff;
}

#skills h2 {
  text-align: center;
  color: #fff;
}

#skills h3 {
  text-align: center;
  color: #fff;
}



